footer.footer
    .footer__top
        .container
            h2 Get started today
            h5 Sign up for a course, or get in touch with us. Our staff will be happy to help with any questions you have.
            button Apply now
    .container
        span &copy; 2022. All Rights Reserved. Privacy Policy