section.center-info
    h2 Get hired fast
    h5 Every DA2277 graduate gets unlimited personalized career support until they land their dream job. Our alumni can be found at amazing companies around the world. 
    .logos 
        .logos__item
            img(src="./images/logo/edreams.png", alt="edreams")
        .logos__item
                img(src="./images/logo/glovo-1.png", alt="glovo")
        .logos__item
            img(src="./images/logo/google.png", alt="google")
        .logos__item
            img(src="./images/logo/holaluz.png", alt="holaluz")
        .logos__item
            img(src="./images/logo/medium.png", alt="medium")
        .logos__item
            img(src="./images/logo/pinterest.png", alt="pinterest")
        .logos__item
            img(src="./images/logo/ryanair.png", alt="ryanair")
        .logos__item
            img(src="./images/logo/spotify.png", alt="spotify")
        .logos__item
            img(src="./images/logo/tidal.png", alt="tidal")
        .logos__item
            img(src="./images/logo/trivago.png", alt="trivago")
        .logos__item
            img(src="./images/logo/typeform.png", alt="typeform")
        .logos__item
            img(src="./images/logo/ulabox.png", alt="ulabox")