header.header
    .container
        .header__inner
            a.header__logo(href="https://skaneris.github.io/school/dist/")
                span
            .header__menu
                ul 
                    li.devider
                        a(href="#") Programs
                        ul
                            li
                                a(href="software.html") Software Engineering Immersive
                            li 
                                a(href="webdev.html") Web Development Immersive
                            li 
                                a(href="introjs.html") Free intro to JavaScript
                            li 
                                a(href="english.html") English language
                            li 
                                a(href="ukrainian.html") Ukrainian language
                            li 
                                a(href="#") Corporate services
                    li 
                        a(href="remote.html") Remote 
                    li 
                        a(href="about.html") About us
                    li 
                        a(href="contact.html") Contact
                    li.button
                        a(href="#") Apply
            .header__burger
                span
block topcontent