extends template/tpl.pug 

block content
    section.center-info
        h1 About us
        h5 We believe technology helps overcome barriers. We nurture creative talent, and empower smart people to be successful through our courses. Every day we work to advance learning paradigms, while making high-quality education more accessible, enjoyable, and rewarding.
        h5 Out there we know there are the creative spirits, the independent thinkers, the underdogs, the resolute, the indefatigable, the fighters, and the true believers. These are the kind of students we work with. They are extremely rare. We’re ecstatic when they choose DA2277.
    img(src="images/slider/09.jpg", alt="").base-img
    section.center-info
        h2 Partners
        h5 Here are some of the partners we’re proud to walk this path with, who share our vision, support DA2277 mission, and collaborate with our educational activities on multiple levels.
        .logos 
            .logos__item
                img(src="images/partners/apple.png", alt="")
            .logos__item
                img(src="images/partners/facebook.png", alt="")
            .logos__item
                img(src="images/partners/github.png", alt="")
            .logos__item
                img(src="images/partners/google.png", alt="")
            .logos__item
                img(src="images/partners/node.png", alt="")
            .logos__item
                img(src="images/partners/sketch.png", alt="")