extends template/tpl

block content
    section.center-info
        h1 Contact
        h5 Whether you want to sign up for our coding courses, get more information, hire our students, or just have a chat with us, we’re looking forward to hearing from you!    
    img(src="images/slider/07.jpg", alt="").base-img
    .contact
        .contact__item
            .icon.adress
            p 
                strong Location
            p 128 City Road, London, EC1V 2NX, UNITED KINGDOM
        .contact__item
            .icon.phone
            p 
                strong Phone
            p +447438522595
        .contact__item
            .icon.mail
            p 
                strong Email
            p hello@codeworks.me
