extends template/tpl.pug

block content 
    section.banner 
        .banner__left
            .banner__top
                h1 Learn to code and change your life
                h5 Master full-stack Software Engineering at our immersive coding bootcamp.
            .banner__bottom
                button.button Browse our programs
                a(href="remote.html") All courses available remotley
        .banner__right 
            img(src="images/laptop.jpg", alt="")
    section.box
        .box__item
            .box__top
                h2 700+
            .box__bottom
                h5 Amazing graduates
        .box__item
            .box__top
                p swetchup  
                    span 
                        span course 
                        span report
                p.stars
                    span
                    span
                    span
                    span
                    span
            .box__bottom
                h5 Top review score
        .box__item
            .box__top
                h2 99%
            .box__bottom
                h5 Hiring rate
    section.center-info 
        h2 Outcomes that matter
        h5 We’re proud to have among the most transparent and strictest reporting standards in the industry.
        .cards 
            .cards__item 
                h3 +25%
                p HIGHER SALARY COMPARED TO INDUSTRY AVERAGE
            .cards__item
                h3 35 days
                p AVERAGE TIME FOR GRADS TO GET A JOB
            .cards__item
                h3 98%
                p JOBS IN SOFTWARE ENGINEERING
    section.center-info
        h2 Top instructors and campus
        h5 Every detail at DA2277 has been planned to maximize your outcome. From an awesome working space to carefully selected staff.
        .slider
            .slider__wrapper
                .slide 
                    img(src="./images/slider/01.jpg", alt="")
                .slide 
                    img(src="./images/slider/02.jpg", alt="")
                .slide 
                    img(src="./images/slider/03.jpg", alt="")
                .slide 
                    img(src="./images/slider/04.jpg", alt="")
                .slide 
                    img(src="./images/slider/05.jpg", alt="")
                .slide 
                    img(src="./images/slider/06.jpg", alt="")
                .slide 
                    img(src="./images/slider/07.jpg", alt="")
                .slide 
                    img(src="./images/slider/08.jpg", alt="")
                .slide 
                    img(src="./images/slider/09.jpg", alt="")
                .slide 
                    img(src="./images/slider/10.jpg", alt="")
    include template/gethired.pug
    section.center-info 
        h2 Why JavaScript
        h5 Learn why this is the best choice for you.
        .box-grey
            p JavaScript is the only programming language that runs both in the browser and on the server, allowing you to build entire products with one technology. You can also use it to create native mobile apps.
            p That’s why big companies like Facebook or Airbnb, as well as small startups use it to build their products, making it the most desired skill in the tech industry.
            p JS consistently ranks as the most popular coding language, as shown in independent reviews run by major platforms like Github and Stack Overflow.
            p DA2277 is one of the top JS bootcamps, by student outcomes and review score. We select high-potential students, and offer a great curriculum, enabling our graduates to become highly successful engineers.
