extends template/tpl

block content
    - var text = ['Learn how to be a great engineer, and build complex apps, with an advanced understanding of JavaScript.']
    +pageHeader('Software Engineering Immersive Courses', text, 'se.jpg')
        ul 
            li 
                span.icon(style="background-image: url(images/svg/icons/calendar.svg)")
                span.text 12 WEEKS, FULL-TIME
            li 
                span.icon(style="background-image: url(images/svg/icons/location.svg)")
                span.text ON SITE OR REMOTE
            li 
                span.icon(style="background-image: url(images/svg/icons/bag.svg)")
                span.text 99% HIRING RATE
            li 
                span.icon(style="background-image: url(images/svg/icons/chart.svg)")
                span.text +25% HIGHER AVG SALARY
        button.button(data-action="order") Apply Today